model:
    cls: DiT_B_4

dataset:
    root: YOUR_DATA_ROOT

training:
    log_per_step: 100
    checkpoint_per_epoch: 10

    num_epochs: 240
    learning_rate: 0.0001
    batch_size: 256
    adam_b2: 0.95
    ema_type: 'const'

    sample_on_training: True
    sample_per_epoch: 10
    fid_per_epoch: 10

    seed: 42

fid:
    device_batch_size: 10  # Reduced from 20 to avoid GPU OOM
    num_samples: 20000  # Testing with 20k samples to avoid RAM OOM
    cache_ref: imgnet256_adm.npz

sampling:
    num_steps: 1

# Load checkpoints for eval or resuming training.
load_from: /home/emil/KTH/Adv. Deep Learning/Project/DD2610-Project-Mean-Flow/meanflow-jax/checkpoint/b4_240ep_kappa0.5/checkpoint_1200960

# load_from: null
eval_only: True
